<!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container wow fadeInUp">
          <div class="section-header">
            <h3 class="section-title">services</h3>
            <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
          </div>
          <div class="row">
  
            <div class="col-lg-12">
              <ul id="services-flters">
                <li data-filter=".filter-app, .filter-card, .filter-logo, .filter-web" class="filter-active">All</li>
                <li data-filter=".filter-app">Forces</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-logo">Logo</li>
                <li data-filter=".filter-web">Web</li>
              </ul>
            </div>
          </div>
  
  
          <div class="row" id="services-wrapper">
            <div class="col-lg-3 col-md-6 services-item filter-app">
              <a href="">
                <img src="img/services/itbp.jpg" alt="">
                <div class="details">
                  <h4>ITBP</h4>
                  <span>Indo-Tibetan Border Police</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-web">
              <a href="">
                <img src="img/services/result-bsf-logo-551f83a4e3613_exl.jpg" alt="">
                <div class="details">
                  <h4>Web 2</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-app">
              <a href="">
                <img src="img/services/download.jpg" alt="">
                <div class="details">
                  <h4>App 3</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-card">
              <a href="">
                <img src="img/services/images.jpg" alt="">
                <div class="details">
                  <h4>Card 1</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-card">
              <a href="">
                <img src="img/services/ssb.jpg" alt="">
                <div class="details">
                  <h4>Card 2</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-web">
              <a href="">
                <img src="img/services/national-security-guard(NSG)-logo.png" alt="">
                <div class="details">
                  <h4>Web 3</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-card">
              <a href="">
                <img src="img/services/ndrf-india-logo.png" alt="">
                <div class="details">
                  <h4>Card 3</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-app">
              <a href="">
                <img src="img/services/assam rifles.png" alt="">
                <div class="details">
                  <h4>App 2</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-logo">
              <a href="">
                <img src="img/services/rpf.jpg" alt="">
                <div class="details">
                  <h4>Logo 1</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-logo">
              <a href="">
                <img src="img/services/spg.png" alt="">
                <div class="details">
                  <h4>Logo 3</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-web">
              <a href="">
                <img src="img/services/Indian_Coast_Guard_Logo.jpg" alt="">
                <div class="details">
                  <h4>Web 1</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 services-item filter-logo">
              <a href="">
                <img src="img/services/af_crest_0.jpg" alt="">
                <div class="details">
                  <h4>Logo 2</h4>
                  <span>Alored dono par</span>              </div>
              </a>
            </div>
  
          </div>
  
        </div>
      </section><!-- #services -->
  
  
